input[visibility="S"], input[visibility="S"]:hover, textarea[visibility=S], div.static {
    color: black;
    background: white;
    border: none;
    border-style: none;
    padding: 0;
    margin-bottom: 2px;
    text-overflow : ellipsis;
}